
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <div>
        <img src="~/Content/images/Cool%20Text%20-%20Dinesh%20Raina%20Shop%20338263511449247.png" />
        <h1>Welcome to mvc prroject</h1>
        @Html.ActionLink("Home", "Home", "first")
        @Html.ActionLink("Register", "Register", "first")
        @Html.ActionLink("Login", "login", "first")
        </div>
</body>
</html>
